.contact-item {
  color: black;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 6px;
}

.contact-item:hover {
  transition: 0.2s;
}

.email:hover {
  background: #211f1f;
  color: white;
  border: 1px solid #211f1f;
}

.github:hover {
  background: #211f1f;
  color: white;
  border: 1px solid #211f1f;
}
.youtube:hover {
  background: #211f1f;
  color: white;
  border: 1px solid #211f1f;
}

.twitter:hover {
  background: #211f1f;
  color: white;
  border: 1px solid #211f1f;
}

.linkedin:hover {
  background: #211f1f;
  color: white;
  border: 1px solid #211f1f;
}
